body {
    background: #eee;
    font-family: Quicksand, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin:0;
}

.container {
    width: 76%;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: "Rozha One", Georgia, 'Times New Roman', Times, serif;
    
}

form, .news {
    background: #fff;
    padding: 10px;
    width: 90%;
    margin: 0 auto 20px auto;
    box-shadow:0px 2px 10px #999;
    animation: slideDown 300ms ease-in-out;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    align-items: center;
}

form select, form input[type="submit"] {
    padding: 10px 0;
    border:none;
    border-bottom: 1px solid #ddd;
}

form input[type="submit"]{
    background: rgb(221, 52, 0);
    color: #fff;
    font-weight: bold;
}

.news {
    
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 10px;
    border-bottom:1px solid #ddd;
    
}
.news div img {
    width: 100%;
}

.news div a{
    color: rgb(238, 107, 0);
    font-size: 1.2rem;
}

footer {
    border-top: 1px solid #ddd;
    color: #ddd;
}


@keyframes slideDown {
    0%{opacity: 0; transform: translateY(-10px)};
    100%{opacity: 1; transform: translateY(00px)};
}

@media (min-width:0px) and (max-width:650px){
    form, .news {
        grid-template-columns: 1fr;
    }
  
}